@model User

<h1>Edit User</h1>

<form method="post" action="/Users/update/@Model.Id">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" value="@Model.Name" />
    </div>
    <div class="form-group">
        <label for="UserName">UserName:</label>
        <input type="text" id="UserName" name="UserName" value="@Model.UserName" />
    </div>
    <button type="submit">Update User</button>
</form>