@model User

<div class="col-md-6 offset-lg-3 align-middle" style="margin-top: 25px">
    <h1 class=" justify-content-center">Reset Password</h1>
    <form method="post" action="/users/updatepassword/@Model.Id">
        <div class="form-group">
            <label class="form-label" for="newPassword">New Password:</label>
            <input class="form-control" type="password" id="newPassword" name="newPassword" class="form-control" required>
        </div><br />
        <div class="form-group">
            <label class="form-label" for="confirmPassword">Confirm Password:</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
        </div><br />
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Reset Password</button>
        </div>
    </form>
</div>