<h1>Create a TasteBuddies Account</h1>

<form method="post" action="/Users/">
    <div class="form-group">
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div class="form-group">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" />
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" />
    </div>
    <button type="submit">Create Account</button>
</form>
