@model IEnumerable<Group>





<h4>Groups List</h4>

@foreach (var group in Model)
{
    @group.Name
    <br>
    @group.Description

    @if (ViewBag.user.Groups.Contains(group))
    {
        <p>You are already in this group</p>
    }
    else
    {
        <form method="post" action="@Url.Action("Join", "Groups")">
            <input type="hidden" name="GroupId" value="@group.Id" />
            <button type="submit" class="join-button">Join</button>
        </form>
    }
}


<br />
<form method="get" action="/groups/new">
    <button type="submit" class="add-group-button">Add Group</button>
</form>

