<h1>Create a TasteBuddies Group</h1>

<form method="post" action="/Groups">
    <div class="form-group">
        <label for="Name">Name: </label>
        <input type="text" id="Name" name="Name" />
    </div>
    <div class="form-group">
        <label for="Description">Description: </label>
        <input type="text" id="Description" name="Description" maxlength="500" />
    </div>
   
    <button type="submit">Create Group</button>
</form>
