
<div class="col-md-6 offset-lg-3 align-middle" style="margin-top: 25px">

    <h1 class=" justify-content-center">Create a TasteBuddies Group</h1>


    <form method="post" action="/Groups">


        <div class="form-group">

            <label class="form-label" for="Name">Name: </label>

            <input class="form-control" type="text" id="Name" name="Name" placeholder="Name" />

        </div>


        <div class="form-group">

            <label class="form-label" for="Description">Description: </label>

            <input class="form-control" type="text" id="Description" name="Description" maxlength="500" placeholder="Description" />

        </div>
        
        <br />


        <div class="d-grid gap-2">

            <button class="btn btn-success" type="submit">Create Group</button>

        </div>


    </form>


</div>
