@model List<Post>

@foreach (var post in Model)
{
    <h6><strong>@post.Title</strong></h6>
    <p> <a href="/users/@post.User.Id"><strong>@post.User.UserName</strong></a>: @post.Description</p>
    <img src="@post.ImageURL" alt="Post Image" style="max-width: 300px; height: auto;">
    <br />
    <br />
    <br />
}