

<form method="post" action="/posts/create">
	<div class="form-group">
		<label for="Title">Title:</label>
		<input type="text" id="Title" name="Title" />
	</div>
	<div class="form-group">
		<label for="Description">Post Content:</label>
		<input type="text" id="Description" name="Description" />
	</div>

	<button type="submit">CREATE</button>
</form>