
<form method="post" action="/users/create">
	
	<div class="form-group">
		<label for="Post_Content">Post Content:</label>
		<input type="text" id="Post_Content" name="Post_Content" />
	</div>
	
	<button type="submit">CREATE</button>
</form>