<h1>Create a Post</h1>

<form method="post" action="/posts/create">
	<div class="form-group">
		<label for="Title">Title:</label>
		<input type="text" id="Title" name="Title" />
	</div>
	<div class="form-group">
		<label for="Description">Post Content:</label>
		<input type="text" id="Description" name="Description" />
	</div>
	<div class="form-group">
		<label for="ImageURL">Post Image URL:</label>
		<input type="text" id="ImageURL" name="ImageURL" />
		<p>Image URL Requirements</p>
		<ul>
			<li>Must be correctly formatted and point directly to an image file (e.g., JPG, PNG, GIF)</li>
			<li>Must start with "https://"</li>
			<li>Must be publicly accessible</li>
		</ul>
	</div>

	<button type="submit">Create Post</button>
</form>