@{

    ViewData["Title"] = "Home Page";

}

<div class="row">

    <div class="col-4">


        <h1>TasteBuddies</h1>

        <br />


        <form method="get" action="/users/login">

            <button class="btn btn-light" type="submit">Log in to an existing account</button>

        </form>


        <br />


        <form method="get" action="/users/signup">

            <button class="btn btn-light" type="submit">Create a New Account</button>

        </form>


    </div>



    <div class="col-8">

        <img src="https://i.imgur.com/QMH5Yav.png" alt="TasteBuddies Logo" />

    </div>


</div>
