@{
    ViewData["Title"] = "Privacy Policy";
}


<style>

 p {
            font-size: 18px;

            color: blueviolet
 }

 </style>


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
